.container{
    width:100%;
    margin:auto;
    background-color:antiquewhite;
}
.header{
    padding:20px;
}
.header . judul{
    font-size:40px;
    font-weight:bold;
}
.header ul li {
    display: inline-block;
    margin-top:20px;
    margin-right:10px;
    font-weight:bold;
}
.header a{
    text-decoration: none;
    color:rgb(180,71,8)
}
.header a:hover{
    background-color: darkgray;
    color:white;
}
.hero {
    height:250px;
    background-image: url(download.jpg);
    background-size:cover;
}
.content{
    padding:15px;
}
.isi{
    padding:15px;
}
.footer{
    background-color:black;
    color:white;
    text-align:center;
    font-size:small;
}
